body {
    width: 100%;
    height: 100%;
    background:#333333;
    font-family: 'Athiti', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

.rslides-default {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides-default li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides-default li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides-default img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.navbar {
    background:#333333;
    color:#f4f7f5;
    border:none;
}

.navbar .logo {
    height:40px;
    width:auto;
    margin:5px;
}

.navbar .top-nav-collapse {
    height:40px;
    width:auto;
    margin-right:-20px;
}

.navbar-default .navbar-toggle {
    border:none;
    padding:0;
    margin:5px 0px;
    background:none;
}

.navbar-default .navbar-toggle img {
    height:40px;
    width:auto;
    margin-right:3px;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background:none !important;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border:none;
}

.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
    color:#FFF;
}

.disabler {
    z-index: 1000;
    position: absolute;
    background-color: black;
    background-attachment: fixed;
    opacity: 0.6;
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding: 0;
    pointer-events:none;
}

.noscroll { 
  overflow: hidden;
}



@media(min-width:767px) {
.navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
}
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Viga', sans-serif;
}

h2 {
    font-size:18pt;
    margin-bottom:5px;
}

p {
    text-align: justify;
}

strong {
    font-style: italic;
    padding: 0 2px;
    display:inline-block;
    color:#000;
}

footer {
    background-color:#333333;
    color:#d6d2d2;
    text-align:center;
    padding-top:20px;
}

footer h2 {
    font-size:12pt;
    text-transform: uppercase;
}

footer p {
    font-size:8pt;
    text-align:center;
}

footer a,
footer a:active,
footer a:visited {
    text-decoration:underline;
    color:inherit;
}

footer a:hover {
    text-decoration:none;
}

section {
    text-align: left;
    padding:0 20px;
}

nav + section {
    margin-top: 50px;
}

.call-to-action a {
    border-radius:0 !important;
    color:#f4f7f5;
    background-color: #e5322c;
    border:none;
    border-right: 1px solid #9d191a;
    border-bottom: 3px solid #9d191a;
    text-transform: uppercase;
    font-weight: bolder;
}

.row > div > *:first-child {
    margin-top:0;
}




@media screen and (max-width: 767px) {
section > .container > .row.alt-left > div:nth-child(odd),
section > .container > .row.alt-right > div:nth-child(even) {
    margin-left: -20px;
    padding-left: 30px;
    padding-right:5px;
    padding-bottom:10px;
    padding-top:18px;
    background-color:#f4f7f5;
}

section > .container > .row.alt-left > div:nth-child(odd) .call-to-action,
section > .container > .row.alt-right > div:nth-child(even) .call-to-action {
    text-align:right;
    margin:10px -10px 20px 0;
}

section > .container > .row.alt-left > div:nth-child(even),
section > .container > .row.alt-right > div:nth-child(odd) {
    margin-right: -20px;
    padding-left: 10px;
    padding-right:25px;
    padding-bottom:10px;
    padding-top:18px;
    background-color:#d6d2d2;
}

section > .container > .row.alt-left > div:nth-child(even) .call-to-action,
section > .container > .row.alt-right > div:nth-child(odd) .call-to-action {
    text-align:left;
    margin:10px 0 20px -15px;
}

.row.no-pad > div {
    position: relative !important;
    overflow: hidden !important;
    padding:0 !important;
}

.row > div.red-zone {
    color:#f4f7f5 !important;
    background-color: #e5322c !important;
}

.row > div.red-zone .call-to-action a {
    color:#333333 !important;
    background-color:#e5322c !important;
    border-right: 1px solid #d6d2d2 !important;
    border-bottom: 3px solid #d6d2d2 !important;
}

section > .container > .row.showbox {
    background-image: none !important;
}

.showbox > div {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    color:#f4f7f5;
    min-height:210px;
}


/* MOBILE NAVBAR STYLE*/
.navbar-nav {
    margin:0;
}
.navbar-collapse {
    background-color: #9d191a;
    padding:20px 20px 40px 20px;
}
.navbar-nav li {
    border-bottom: 1px solid #f4f7f5;
    text-transform: uppercase;
    color:#f4f7f5;
}
.navbar-default .navbar-nav>li>a {
    color:inherit;
    font-size:16px;
}

.navbar-nav.others {
    margin-top:30px;
}

.navbar-nav.others li {
    border-bottom:none;
    text-align:right;
}

.navbar-nav.others>li>a {
    padding-right:0;
}

.navbar-nav.others>li>a:after {
    content:"›";
    margin-left:3px;
}
}




@media screen and (min-width: 768px) {
section > .container > .row > div {
    margin:0;
    padding:10px;
    text-align: justify;
}

section > .container > .row .call-to-action {
    text-align: center;
}

section > .container.alt-left > .row:nth-child(odd),
section > .container.alt-right > .row:nth-child(even) {
    margin-right:10px;
    padding-left:25px;
    padding-top:8px;
    background-color:#f4f7f5;
}

section > .container.alt-right > .row:nth-child(odd),
section > .container.alt-left > .row:nth-child(even) {
    margin-left:10px;
    padding-right:25px;
    padding-top:8px;
    background-color:#d6d2d2;
}

.row.red-zone {
    color:#f4f7f5 !important;
    background-color: #e5322c !important;
}

.row.red-zone .call-to-action a {
    color:#333333 !important;
    background-color:#e5322c !important;
    border-right: 1px solid #d6d2d2 !important;
    border-bottom: 3px solid #d6d2d2 !important;
}

section > .container > .row.no-pad,
section > .container > .row.no-pad > div {
    padding:0 !important;
}

.navbar {
    padding:0 !important;
}

section > .container > .row.showbox > div {
    background-image: none !important;
}

.showbox {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    color:#f4f7f5;
    min-height:300px;
}

.showbox h2 {
    font-size:36px;
}

.showbox p {
    font-size:18pt;
    line-height:18pt;
}

.call-to-action a {
    font-size:14pt;
}

.call-to-action {
    margin-top:30px;
}

.nav.navbar-nav.others {
    float:right;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background:none;
    color:#FFF;
}

}
