body {
    width: 100%;
    height: 100%;
    background:#333333;
    font-family: 'Athiti', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

.floating-call-to-action {
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}

.floating-call-to-action a {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20pt;
    font-size: 24pt;
    color:#fff;
    background-color: #000;
    box-shadow: 0px 5px #444;
    border:0px;
    border-radius: 10px;
}

.cookie-law {
    color:#f4f7f5 !important;
    background-color: #9d191a !important;
    z-index:1000;
    position:absolute;
    width:100%;
    left:0;
    font-size:14pt;
    text-align:center;
    padding:30px;
    top:60px;
}

.rslides-default {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides-default li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides-default li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides-default img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.navbar {
    background:#111;
    color:#f4f7f5;
    border:none;
    border-bottom:1px solid #000;
    border-top:1px solid #000;
    padding:5px;
}

.navbar .logo {
    height:40px;
    width:auto;
    margin:5px;
}

.navbar .top-nav-collapse {
    height:40px;
    width:auto;
    margin-right:-20px;
}

.navbar-default .navbar-toggle {
    border:none;
    margin: 12px 10px;
    background: none;
    padding: 6px 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f4f7f5;
}

.navbar-default .navbar-toggle img {
    height:40px;
    width:auto;
    margin-right:3px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background:none !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border:none;
}

.navbar-default .navbar-nav>li>a {
    color:#AAA;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color:#FFF;
}

.disabler {
    z-index: 1000;
    position: absolute;
    background-color: black;
    background-attachment: fixed;
    opacity: 0.6;
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding: 0;
    pointer-events:none;
}

.noscroll {
  overflow: hidden;
}

button[name=submit],
input[type=submit] {
    outline:none;
}

textarea,
input[type=email],
input[type=text] {
    border:none;
    border-bottom:1px solid #9d191a;
    padding:5px;
    margin:10px 0;
    background:none;
    color:#FFFFFF;
    outline:none;
    border-radius:0;
    font-size:16pt;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#9d191a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#9d191a;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#9d191a;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#9d191a;
}

textarea,
input[type=text] {
    border:1px solid #9d191a;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Viga', sans-serif;
}

h2 {
    font-size:18pt;
    margin-bottom:5px;
}

p {
    text-align: justify;
}

strong {
    padding: 0 2px;
    display:inline-block;
    color:#000;
    font-weight:bold;
}

.showbox strong {
    color:#FFF;
}

footer {
    background-color:#333333;
    color:#d6d2d2;
    text-align:center;
    padding-top:20px;
}

footer h2 {
    font-size:12pt;
    text-transform: uppercase;
}

footer p {
    font-size:8pt;
    text-align:center;
}

footer a,
footer a:active,
footer a:visited {
    text-decoration:underline;
    color:inherit;
}

footer a:hover {
    text-decoration:none;
}

section {
    text-align: left;
    padding:0 20px;
}

nav + section {
    margin-top: 80px;
}

.call-to-action a span.glyphicon,
.call-to-action button[name=submit].glyphicon,
.call-to-action input[type=submit].glyphicon {
    margin-right:5px;
}

.call-to-action a,
.call-to-action button[name=submit],
.call-to-action input[type=submit] {
    border-radius:3px !important;
    border:none;

    border-right: 1px solid #666;
    border-bottom: 3px solid #666;
    color:#eee;
    background-color: #3f3f3f;

    text-transform: uppercase;
    font-weight: bolder;
    font-weight: bold;
}

.call-to-action a.white,
.call-to-action button[name=submit],
.call-to-action input[type=submit].white {
    background-color:rgba(0,0,0,0);
    color: #454545;

    border-right: 0;
    border-bottom: 0;
    font-weight: normal;
}

.call-to-action a.white:hover,
.call-to-action button[name=submit].white:hover,
.call-to-action input[type=submit].white:hover {
    text-decoration: underline;
}

.row > div > *:first-child {
    margin-top:0;
}

/* DISCOVER */
#discover {
  margin:20px 0;
}

#discover h2 {
    font-size:36px;
}

#discover p {
    font-size:15pt;
}

/* PRODUCT LINE */
.product-line > div {
    display: table;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:300px;
    height:300px;
}

.product-line > div > * {
    display:table-cell;
    vertical-align:bottom;
}

.product-line > div > h2 {
    font-weight:bold;
    color:#f4f7f5;
    text-shadow: 0px 1px 2px #000000;
    text-transform:uppercase;
}

.product-line h3 {
    font-size:16pt;
    margin: 5px 0 1px 0;
}

.product-line p {
    min-height:110px;
}

#railing-lines .product-line p {
    min-height:40px;
}

.product-line p.call-to-action {
    min-height: 0;
}




/* SAMPLES */
#samples .container-fluid
#samples .container {
    padding:0;
}

.finish-sample {
    margin-top: 30px;
    padding:0 30px 0 30px;
    margin-bottom:50px;
}

.finish-sample > div {
    display: table;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:300px;
    height:300px;
    border-radius: 5px 5px 0px 0px;
}

.finish-sample > div > * {
    display:table-cell;
    vertical-align:bottom;
}

.finish-sample h3 {
    font-family: 'Share Tech Mono', monospace;
    font-weight:bold;
    color:#f4f7f5;
    text-shadow: 0px 2px #000000;
    text-transform:uppercase;
    text-align: left;
}

.finish-sample p {
    color: #f4f5f7;
}


/* Smartphone */
@media screen and (max-width: 767px) {

nav + section {
    margin-top:53px;
}

.cookie-law {
    top:50px;
}

section > .container > .row.alt-left > div:nth-child(odd),
section > .container > .row.alt-right > div:nth-child(even),
section > .container-fluid > .row.alt-left > div:nth-child(odd),
section > .container-fluid > .row.alt-right > div:nth-child(even){
    margin-left: -20px;
    padding-left: 30px;
    padding-right:5px;
    padding-bottom:10px;
    padding-top:18px;
    background-color:#f4f7f5;
}

section > .container > .row.alt-left > div:nth-child(odd) .call-to-action,
section > .container > .row.alt-right > div:nth-child(even) .call-to-action,
section > .container-fluid > .row.alt-left > div:nth-child(odd) .call-to-action,
section > .container-fluid > .row.alt-right > div:nth-child(even) .call-to-action {
    text-align:right;
    margin:10px -10px 20px 0;
}

section > .container > .row.alt-left > div:nth-child(odd) .call-to-action a,
section > .container > .row.alt-right > div:nth-child(even) .call-to-action a,
section > .container-fluid > .row.alt-left > div:nth-child(odd) .call-to-action a,
section > .container-fluid > .row.alt-right > div:nth-child(even) .call-to-action a {
    margin-left:15px;
}

section > .container > .row.alt-left > div:nth-child(even),
section > .container > .row.alt-right > div:nth-child(odd),
section > .container-fluid > .row.alt-left > div:nth-child(even),
section > .container-fluid > .row.alt-right > div:nth-child(odd) {
    margin-right: -20px;
    padding-left: 10px;
    padding-right:25px;
    padding-bottom:10px;
    padding-top:18px;
    background-color:#d6d2d2;
}

section > .container > .row.alt-left > div:nth-child(even) .call-to-action,
section > .container > .row.alt-right > div:nth-child(odd) .call-to-action,
section > .container-fluid > .row.alt-left > div:nth-child(even) .call-to-action,
section > .container-fluid > .row.alt-right > div:nth-child(odd) .call-to-action {
    text-align:left;
    margin:10px 0 20px -15px;
}

section > .container > .row.alt-left > div:nth-child(even) .call-to-action a,
section > .container > .row.alt-right > div:nth-child(odd) .call-to-action a,
section > .container-fluid > .row.alt-left > div:nth-child(even) .call-to-action a,
section > .container-fluid > .row.alt-right > div:nth-child(odd) .call-to-action a {
    margin-right:15px;
}

.row.no-pad > div {
    position: relative !important;
    overflow: hidden !important;
    padding:0 !important;
}

.row > div.red-zone {
    color:#f4f7f5 !important;
    background-color: #e5322c !important;
}

.row > div.red-zone .call-to-action a,
.row.red-zone .call-to-action button[name=submit],
.row.red-zone .call-to-action input[type=submit] {
    color:#333333 !important;
    background-color:#f4f7f5 !important;
    border-right: 1px solid #d6d2d2 !important;
    border-bottom: 3px solid #d6d2d2 !important;
}

section > .container > .row.showbox,
section > .container-fluid > .row.showbox{
    background-image: none !important;
}

.showbox > div {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    color:#f4f7f5;
    min-height:210px;
}

textarea,
input[type=email],
input[type=text] {
    width:100%;
}

textarea {
    min-height:120px;
}

.cookie-law {
    font-size:10pt;
    padding:10px;
}

.finish-sample {
    padding:0;
}

/* MOBILE NAVBAR STYLE*/
.navbar {
    padding:0px !important;
}

.navbar-nav {
    margin:0;
}
.navbar-collapse {
    background-color: #9d191a;
    padding:20px 20px 40px 20px;
}
.navbar-nav li {
    border-bottom: 1px solid #f4f7f5;
    text-transform: uppercase;
    color:#f4f7f5;
}
.navbar-default .navbar-nav>li>a {
    color:inherit;
    font-size:16px;
}

.navbar-nav.others {
    margin-top:30px;
}

.navbar-nav.others li {
    border-bottom:none;
    text-align:right;
}

.navbar-nav.others>li>a {
    padding-right:0;
}

.navbar-nav.others>li>a:after {
    content:"›";
    margin-left:3px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background:none;
    color:#f4f7f5;
}

.product-line > div {
    position: relative;
    top: -8px;
}
}

/* Tablet and Desktop */
@media screen and (min-width:767px) {
.navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
}

textarea,
input[type=email],
input[type=text] {
    margin:20px 0;
}

section > .container > .row > div,
section > .container-fluid > .row > div{
    margin:0;
    padding:10px;
    text-align: justify;
}

section > .container > .row .call-to-action,
section > .container-fluid > .row .call-to-action{
    text-align: center;
}

section > .container > .row form .call-to-action,
section > .container-fluid > .row form .call-to-action{
    text-align: left;
}

section > .container.alt-left > .row:nth-child(odd),
section > .container.alt-right > .row:nth-child(even),
section > .container-fluid.alt-left > .row:nth-child(odd),
section > .container-fluid.alt-right > .row:nth-child(even) {
    margin-right:10px;
    padding-left:25px;
    padding-top:8px;
    background-color:#f4f7f5;
}

section > .container.alt-right > .row:nth-child(odd),
section > .container.alt-left > .row:nth-child(even),
section > .container-fluid.alt-right > .row:nth-child(odd),
section > .container-fluid.alt-left > .row:nth-child(even) {
    margin-left:10px;
    padding-right:25px;
    padding-top:8px;
    background-color:#d6d2d2;
}

.row.red-zone {
    color:#f4f7f5 !important;
    background-color: #e5322c !important;
}

.row.red-zone .call-to-action a,
.row.red-zone .call-to-action button[name=submit],
.row.red-zone .call-to-action input[type=submit] {
    color:#333333 !important;
    background-color:#f4f7f5 !important;
    border-right: 1px solid #d6d2d2 !important;
    border-bottom: 3px solid #d6d2d2 !important;
}

section > .container > .row.no-pad,
section > .container > .row.no-pad > div,
section > .container-fluid > .row.no-pad,
section > .container-fluid > .row.no-pad > div {
    padding:0 !important;
}

.navbar {
    padding:5px !important;
}

section > .container > .row.showbox > div,
section > .container-fluid > .row.showbox > div {
    background-image: none !important;
}

.showbox {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    color:#f4f7f5;
    min-height:300px;
}

.showbox h2 {
    font-size:36px;
    margin-bottom:20px;
}

.showbox p {
    font-size:16pt;
    line-height:18pt;
}

input[type=email],
input[type=text],
textarea {
    display:block;
    width:50%;
}

.call-to-action a,
.call-to-action button[name=submit],
.call-to-action input[type=submit] {
    font-size:14pt;
}

.call-to-action {
    margin-top:30px;
}

.nav>li>a {
    padding-right:5px;
}

.nav.navbar-nav.others {
    float:right;
    margin-right:-20px;
}

.nav.others>li>a {
    padding-right:7px;
}
.nav.others>li:last-child>a {
    padding-right:0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background:none;
    color:#777;
}

.finish-sample > div {
    min-height:200px;
    height:200px;
}

/* PAGE INTRO*/
.page-intro p {
    min-height:60px;
}

.page-intro p.call-to-action {
    min-height:0;
}

/* DISCOVER */
#discover {
  margin:30px 0;
}

#discover .red-zone {
  padding-top: 40px;
  padding-bottom: 40px;
}

}

/* Desktop Only */
@media screen and (min-width:992px) {

.call-to-action a {
    margin:5px;
}

/* PAGE INTRO*/
.page-intro p {
    min-height:90px;
}

.page-intro p.call-to-action {
    min-height:0;
}
}

.no-background,
.no-background > * {
    background:none !important;
}

/* BLINK ANIMATION */
.blink {
  animation: blink-animation 0.25s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.25s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
